/* Screen Shake Animation */
@keyframes global-shake {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-8px, -8px);
    }

    20% {
        transform: translate(8px, 8px);
    }

    30% {
        transform: translate(-8px, 8px);
    }

    40% {
        transform: translate(8px, -8px);
    }

    50% {
        transform: translate(-8px, -4px);
    }

    60% {
        transform: translate(8px, 4px);
    }

    70% {
        transform: translate(-4px, -8px);
    }

    80% {
        transform: translate(4px, 8px);
    }

    90% {
        transform: translate(-4px, 4px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.screen-shake-active {
    animation: global-shake 0.4s cubic-bezier(.36, .07, .19, .97) both;
}